/* Doto */
@font-face {
  font-family: 'Doto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('Doto-t5tJIRMbNJ6TQG7Il_EKPqP9zTnvqqGNcuvLMt1JIphFOOOezw.ttf.woff2') format('truetype');
}
@font-face {
  font-family: 'Doto';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('Doto-t5tJIRMbNJ6TQG7Il_EKPqP9zTnvqqGNcuvLMt1JIphFuOKezw.ttf.woff2') format('truetype');
}
@font-face {
  font-family: 'Doto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('Doto-t5tJIRMbNJ6TQG7Il_EKPqP9zTnvqqGNcuvLMt1JIphFZuKezw.ttf.woff2') format('truetype');
}
@font-face {
  font-family: 'Doto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Doto-t5tJIRMbNJ6TQG7Il_EKPqP9zTnvqqGNcuvLMt1JIphFOOKezw.ttf.woff2') format('truetype');
}
@font-face {
  font-family: 'Doto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('Doto-t5tJIRMbNJ6TQG7Il_EKPqP9zTnvqqGNcuvLMt1JIphFCuKezw.ttf.woff2') format('truetype');
}
@font-face {
  font-family: 'Doto';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('Doto-t5tJIRMbNJ6TQG7Il_EKPqP9zTnvqqGNcuvLMt1JIphF5uWezw.ttf.woff2') format('truetype');
}
@font-face {
  font-family: 'Doto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('Doto-t5tJIRMbNJ6TQG7Il_EKPqP9zTnvqqGNcuvLMt1JIphF3-Wezw.ttf.woff2') format('truetype');
}
@font-face {
  font-family: 'Doto';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('Doto-t5tJIRMbNJ6TQG7Il_EKPqP9zTnvqqGNcuvLMt1JIphFuOWezw.ttf.woff2') format('truetype');
}
@font-face {
  font-family: 'Doto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('Doto-t5tJIRMbNJ6TQG7Il_EKPqP9zTnvqqGNcuvLMt1JIphFkeWezw.ttf.woff2') format('truetype');
}

/* Inter */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('Inter-UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuOKfMZg.ttf.woff2') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Inter-UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.ttf.woff2') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('Inter-UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuI6fMZg.ttf.woff2') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('Inter-UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYMZg.ttf.woff2') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('Inter-UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZg.ttf.woff2') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('Inter-UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuDyYMZg.ttf.woff2') format('truetype');
}

